<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}{% endblock title %}
        </title>
    </head>
    <body>
        <header>
            <h1>
                {% block header %}{% endblock header %}
            </h1>
        </header>
        <nav>
            <a href="{% url 'main:index' %}">Homepage</a> |
            <a href="{% url 'main:assets' %}">Assets</a> |
            <a href="{% url 'main:portfolios' %}">Portfolios</a>
        </nav>
        {% block content %}{% endblock content %}
    </body>
</html>