{% extends 'layout/basic.html' %}

{% block title %}
Assets
{% endblock title %}

{% block header %}
Assets
{% endblock header %}

{% block content %}
{% if assets %}
<p>
    <table>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
        {% for asset in assets %}
        <tr>
            <td>{{ asset.short_name }}</td>
            <td>{{ asset.name }}</td>
            <td>{{ asset.get_asset_type_display }}</td>
        </tr>
        {% endfor %}
    </table>
</p>
{% else %}
<p>No any asset added...</p>
{% endif %}
{% endblock content %}
