{% extends 'layout/basic.html' %}

{% block title %}
Assets
{% endblock title %}

{% block header %}
Assets
{% endblock header %}

{% block content %}
<h2>
    <a href="{% url 'main:asset_create' %}">Create asset</a>
</h2>
    {% if assets %}
    <p>
        <table>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
            {% for asset in assets %}
            <tr>
                <td>{{ asset.short_name }}</td>
                <td>{{ asset.name }}</td>
                <td>{{ asset.get_asset_type_display }}</td>
                <td><a href="{% url 'main:asset_update' asset.pk %}">Update</a></td>
                <td><a href="{% url 'main:asset_delete' asset.pk %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </p>
    {% else %}
    <p>No any asset added...</p>
    {% endif %}
{% endblock content %}
