{% extends "layout/basic.html" %}

{% block title %}
Portfolio
{% endblock title %}

{% block header %}
Details
{% endblock header %}

{% block content %}
<h2>
    <a href="{% url 'main:portfolio_delete' portfolio.pk %}">Delete portfolio</a>
</h2>
<p>Name: {{ portfolio.name }}</p>
<ul>
    {% for user_asset in user_assets %}
    <li>
        <p>{{ user_asset.asset.short_name }} - {{ user_asset.balance }}</p>
    </li>
    {% empty %}
    <li>There is no user_asset added yet...</li>
    {% endfor %}
</ul>
{% endblock content %}