{% extends "layout/basic.html" %}

{% block title %}
Portfolios
{% endblock title %}

{% block header %}
Portfolios
{% endblock header %}

{% block content %}
<h2>
    <a href="{% url 'main:portfolio_add' %}">Add portfolio</a>
</h2>
<ul>
    {% for portfolio in portfolios %}
    <li>
        <a href="{% url 'main:portfolio' portfolio.pk %}">
            <p>{{ portfolio.name}} - {{ portfolio.date_added }}</p>
        </a>
    </li>
    {% empty %}
    <li>There is no portfolio added yet...</li>
    {% endfor %}
</ul>
{% endblock content %}