{% extends "layout/basic.html" %}

{% block title %}
Portfolio
{% endblock title %}

{% block header %}
Portfolio
{% endblock header %}

{% block content %}
<h2>
    <a href="{% url 'main:portfolio_delete' portfolio.pk %}">Delete portfolio</a> - 
    <a href="{% url 'main:portfolio_update' portfolio.pk %}">Update portfolio</a>
</h2>
<p>Name: {{ portfolio.name }}</p>
<a href="{% url 'main:userasset_create' portfolio.pk %}">Create userasset</a>
<ul>
    {% for user_asset in user_assets %}
    <li>
        <p>{{ user_asset.asset.short_name }} - {{ user_asset.balance }}</p>
    </li>
    {% empty %}
    <li>There is no asset added yet...</li>
    {% endfor %}
</ul>
{% endblock content %}